@charset "UT8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root{
    --cor001:#F2BE22;
    --cor002:#0B2B40;
    --cor003:#30A5BF;
    --cor004:#c2aa7d;
    

    --fonte-base:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: 'PT Sans Caption', sans-serif;
    --fonte-padrao:'Signika Negative', sans-serif;
}
*{
    margin: 0px;
    padding: 0px; 
}
html,body{
    min-height: 100vh;
}

header > p{
    background-color: var(--cor002);
    color:var(--cor004);
    padding: 6px;
    text-indent: 10px;
    
}
header > p > span > a{
    background-color:var(--cor002);
    font-family: var(--fonte-padrao);
    color:var(--cor004);
    padding: 5px;
    text-decoration: none;
}
header > p > span{
    margin-left: 850px;
}
header > h1{
    background-color:white;
    color: var(--cor002);
    padding: 20px;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-size: 3.9em;
    text-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.37);
}
header > h2{
    background-color: var(--cor004);
    color: var(--cor002);
    font-family: var(--fonte-padrao);
    text-indent: 10px;
    font-size: 2.5em;
    padding: 15px;
    
    
}
header > nav {
    background-color: white;
    color: var(--cor002); 
    text-align: right;
}
header > nav > a{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
nav > :hover{
    background-color: var(--cor002);
    color: var(--cor004);
    padding: 1px;
    border-bottom: 10px;
}

main {
    padding-top: 10vh;
    padding-bottom: 15vh;
    padding-right: 0px;
}
main > h1{
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-weight: bold;
    color: var(--cor002);
    margin-top: 10px;
    margin-bottom: 80px;
    text-indent: 30px;
     
}
main > section{
    padding-top: 20vh;
    padding-bottom: 20vh;
}
main > section> p{
    font-size: 1.5em;
    line-height: 1.3em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
    width: 500px;
    color:white;
    background-color: rgba(0, 0, 0, 0.411);
    text-shadow: 1px 1px 1px 1px black;   
}
main > section > p > strong{
    color:var(--cor002);
}
section.imagem1 > h2{
    font-family: var(--fonte-padrao);
    color: white;
}

section#img01{
    background-image: url(imagens/tec1400.jpg);
    background-position:left;
    background-size: cover;
    background-attachment: fixed;
}

aside{
    padding: 0px;
    margin-bottom: 90px;
    margin-top: 10px;
}
aside > h1{
    background-color: var(--cor004);
    text-align: center;
    font-variant: small-caps;
    font-size: 1.8em;
}
    



footer{
    background-color: var(--cor002);
    color:var(--cor004);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-padrao);
}