@charset "UT8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

:root{
    --cor001:#F2BE22;
    --cor002:#0B2B40;
    --cor003:#30A5BF;
    --cor004:#c2aa7d;
    

    --fonte-base:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: 'PT Sans Caption', sans-serif;
    --fonte-padrao:'Signika Negative', sans-serif;
}
*{
    margin: 0px;
    padding: 0px; 
}

header > p{
    background-color: var(--cor002);
    color:var(--cor004);
    padding: 6px;
    text-indent: 10px;
}
header > p > span > a{
    background-color:var(--cor002);
    font-family: var(--fonte-padrao);
    color:var(--cor004);
    padding: 5px;
    text-decoration: none;
}
header > p > span{
    margin-left: 850px;
}
header > h1{
    background-color:white;
    color: var(--cor002);
    padding: 30px;
    font-family: var(--fonte-destaque);
    font-size: 3.9em;
    text-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.37);
}
header > h2{
    background-color: var(--cor004);
    color: var(--cor002);
    font-family: var(--fonte-padrao);
    text-indent: 10px;
    font-size: 2.5em;
    padding: 30px;
    
}
header > nav {
    background-color: white;
    color: var(--cor002); 
    text-align: right;
}
header > nav > a{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
nav > :hover{
    background-color: var(--cor002);
    color: var(--cor004);
    padding: 1px;
    border-bottom: 10px;
}
main > h1{
    font-family: var(--fonte-destaque);
    font-size: 2em;
    font-weight: bold;
    color: var(--cor002);
    margin-top: 30px;
    margin-bottom: 80px;
    text-indent: 30px;   
}
main > section{
    width: 1000px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.466);
    text-align: justify;
    margin-left: 20px;
}
main  > h1{
    color: var(--cor002);
    font-family: var(--fonte-padrao);
    font-size: 2em;
    
}
main > section >h2{
    margin-bottom: 30px;
    font-family: var(--fonte-padrao);
}
section#img01{
    background-image: url(imagens/tecfull.jpg);
    background-position: center;
}
footer{
    background-color: var(--cor002);
}